;loadBalancing: edu.isistan.edge.proxy.jobstealing.EdgeStealerProxy

;policy: edu.isistan.seas.proxy.jobstealing.FixedNumberPolicy FixedNum=1
;strategy: edu.isistan.edge.proxy.jobstealing.EdgeBRAStrategy

;networkEnergyManagementEnable: true

;nodeFile
sim_input/nodes/1A100Inf.cnf

;batteryFile
sim_input/device_profile/A100/battery0.cnf; 00000000-0000-0000-0000-000000000001


;batteryFullCpuUsageFile
sim_input/device_profile/A100/battery100.cnf; 00000000-0000-0000-0000-000000000001


;cpuFile
sim_input/device_profile/A100/cpu0.cnf; 00000000-0000-0000-0000-000000000001

;jobsEvent
sim_input/jobs/longCPU.cnf

;wifiSignalStrength
-50; 00000000-0000-0000-0000-000000000001
