;gene_data 5000 100
;population_params 100 false
;termination_condition IncreasedFitnessTimeCondition 60000 300000
;parent_selection TournamentParentSelector 10 true
;crossover_operator MPointCrossoverOperator 10 0.8
;mutation_operator RandomMutationOperator 0.30
;population_replacement DeterministicCrowding
